'.text.html.vue':
  'router view -> vue-router':
    'prefix': 'vr-view',
    'body': """
    <router-view></router-view>
    """
  'router link -> vue-router':
    'prefix': 'vr-link',
    'body': """
    <router-link :to="{ name: '', params: {} }"></router-link>
    """
  'transition -> vue-router':
    'prefix': 'vr-transition',
    'body': """
    <transition name="fade" mode="out-in">
        <router-view class="view"></router-view>
    </transition>
    """
